In [ ]:
import pandas as pd

In [19]:
import numpy as np

In [82]:
patient_data = pd.read_csv(r'C:\Users\Yogen\Documents\1. Data Science Courses\2. MIT Data Science Course\Lecture12\cardiacData.txt', header=None)

In [83]:
patient_data.describe()

                0           1           2           3           4
count  250.000000  250.000000  250.000000  250.000000  250.000000
mean    70.008000    0.104000   65.548000    0.360000    0.332000
std     14.472795    0.305873   14.091486    0.513278    0.471876
min     26.000000    0.000000   23.000000    0.000000    0.000000
25%     61.000000    0.000000   55.250000    0.000000    0.000000
50%     70.000000    0.000000   67.000000    0.000000    0.000000
75%     78.000000    0.000000   76.000000    1.000000    1.000000
max    110.000000    1.000000   99.000000    2.000000    1.000000

In [18]:
patient_data.head()

     0  1   2  3  4
0   84  0  55  0  0
1   76  0  80  0  0
2   50  0  80  0  0
3   60  0  44  0  0
4  106  0  77  1  0

In [84]:
patient_data.groupby([1]).count()

     0    2    3    4
1
0  224  224  224  224
1   26   26   26   26

In [86]:
patient_data.groupby([4]).count()

     0    1    2    3
4
0  167  167  167  167
1   83   83   83   83

In [87]:
patient_data.groupby([3]).count()

     0    1    2    4
3
0  164  164  164  164
1   82   82   82   82
2    4    4    4    4

In [93]:
list(patient_data[patient_data[3] == 2].index)

[12, 31, 58, 85]

In [95]:
patient_data = patient_data.drop(list(patient_data[patient_data[3] == 2].index))

In [96]:
def z_scaling(vals):
    vals = np.array(vals)
    mean = np.mean(vals)
    sd = np.std(vals)
    z = (vals - mean)/sd
    
    return z

In [97]:
patient_data_scaled = patient_data.apply(z_scaling)

## Clusters

In [26]:
from kneed import KneeLocator
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [98]:
kmeans = KMeans(init="k-means++",n_clusters=2, n_init=50, max_iter=300)

In [102]:
kmeans.fit(patient_data_scaled)

KMeans(n_clusters=2, n_init=50)

In [103]:
patient_data[5] = list(kmeans.labels_)

In [104]:
patient_data.head(10)

     0  1   2  3  4  5
0   84  0  55  0  0  1
1   76  0  80  0  0  1
2   50  0  80  0  0  1
3   60  0  44  0  0  1
4  106  0  77  1  0  1
5   40  0  33  0  0  1
6   63  0  46  0  0  1
7   78  0  61  1  1  0
8   68  0  63  1  0  1
9   69  0  82  1  0  1

In [105]:
sum(list(patient_data[patient_data[5] == 1][4]))/len(list(patient_data[patient_data[5] == 1][4]))

0.0

In [106]:
sum(list(patient_data[patient_data[5] == 0][4]))/len(list(patient_data[patient_data[5] == 0][4]))

0.9425287356321839

In [79]:
sum(list(patient_data[patient_data[5] == 2][4]))/len(list(patient_data[patient_data[5] == 2][4]))

0.9666666666666667

In [80]:
sum(list(patient_data[patient_data[5] == 3][4]))/len(list(patient_data[patient_data[5] == 3][4]))

0.0

In [72]:
sum(list(patient_data[patient_data[5] == 4][4]))/len(list(patient_data[patient_data[5] == 4][4]))

0.07142857142857142