In [1]:
import pandas as pd

In [2]:
menu = [[89,123], [90,154], [30,258], [50,354], [90,365], [79,150], [90,95], [10,195]]

In [5]:
max_calories = 750

In [27]:
menu_df = pd.DataFrame(menu)
menu_df.columns = ['Value', 'Calories']

In [28]:
menu_df

   Value  Calories
0     89       123
1     90       154
2     30       258
3     50       354
4     90       365
5     79       150
6     90        95
7     10       195

In [30]:
menu_df['density'] = menu_df['Value']/menu_df['Calories']

In [31]:
menu_df

   Value  Calories   density
0     89       123  0.723577
1     90       154  0.584416
2     30       258  0.116279
3     50       354  0.141243
4     90       365  0.246575
5     79       150  0.526667
6     90        95  0.947368
7     10       195  0.051282

In [131]:
def greedy_algo(menu, sort_by, cost, max_cost):
    menu = menu.sort_values(by = [sort_by], ascending = 0)
    
    total_calories = 0
    items = []
    for i in menu.index:
        if total_calories + menu.loc[i,cost] <= max_cost:
            total_calories = menu.loc[i,cost] + total_calories
            items.append(i)
    
    return menu, items, total_calories

In [133]:
greedy_algo(menu_df, 'Value', 'Calories', 750)

(   Value  Calories   density
 1     90       154  0.584416
 4     90       365  0.246575
 6     90        95  0.947368
 0     89       123  0.723577
 5     79       150  0.526667
 3     50       354  0.141243
 2     30       258  0.116279
 7     10       195  0.051282,
 [1, 4, 6, 0],
 737)

In [79]:
x=menu_df.copy()

In [106]:
y= x.sort_values(by=['Value'], ascending=0)
y

   Value  Calories   density
6     90        95  0.947368
0     89       123  0.723577
1     90       154  0.584416
5     79       150  0.526667
4     90       365  0.246575
3     50       354  0.141243
2     30       258  0.116279
7     10       195  0.051282

In [97]:
y #0

   Value  Calories   density
1     90       154  0.584416
4     90       365  0.246575
6     90        95  0.947368
0     89       123  0.723577
5     79       150  0.526667
3     50       354  0.141243
2     30       258  0.116279
7     10       195  0.051282

In [84]:
total_calories = 0
items = []
for i in y.index:
    if total_calories + y.loc[i,1] <= 750:
        total_calories = y.loc[i,1] + total_calories
        
        items.append(i)

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [1] of <class 'int'>

In [53]:
total_calories

737

In [54]:
items

[1, 4, 6, 0]

In [40]:
y.loc[0,1]

123